<h3> Welcome to admin page </h3>
<!--<p> <%#= link_to 'Add Course', curriculums_path %> </p>-->
<p> <%= link_to 'Add course',  create_curriculum_admin_index_path  %></p>
<p> <%= link_to 'Add semester', semesters_path %></p>
<p> <%= link_to 'test form', test_form_admin_index_path %></p>
