/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    margin:0;
    padding:0;
}
#sidebar{
    position:fixed;
    width: 30%;
    height: 100%;
    background-color:black;
    left:-20%;
}
#sidebar li{
    color: white;
    font-size: 10px;
    padding: 30px;
    border-bottom: 1px solid gray;
    text-align: right;
}
.toggle-btn{
    position: absolute;
    left: 75%;
    top:15px;
}
.toggle-btn span{
    display: block;
    background-color: white;
    width: 30px;
    height: 5px;
    margin: 3px;
}
#sidebar.active{
    text-align:center;
    left:0%;

}
#main-col{
    color: #0048CD;
    padding-left: 200px;
    text-align: justify;
}
#main-col.active{
    padding-left: 400px;
    text-align: justify;
}
.nav-link{
    text-align: right;

}
/*.nav-link active{*/
/*    text-align: center;*/
/*}*/